
/* ************************************************ */
/* ******* TEMPLATE ******* */
/* ************************************************ */

html, body {
    width: 100%;
    height: 100%;
}

body {
    min-width: 320px;
    position: relative;
    background: @AppTemplate-Background;
    .mx__user-select(none);
}

/* ******* HEADER ******* */


/* ******* CONTENT ******* */

.s__splash {
    //.app__section__image('@{AppPath-Images}/bg/splash.jpg');
}

.s__about {
    //.app__section__image('@{AppPath-Images}/bg/about.jpg');
}

.s__events {
    //.app__section__image('@{AppPath-Images}/bg/events.jpg');
}

.s__contacts {
   // .app__section__image('@{AppPath-Images}/bg/contacts.jpg');
}

/* ******* FOOTER ******* */


/* ******* ADAPTIVE ******* */

@media only screen and (max-width : @CmScreen-Tablet) {

    html.is-adaptive {

    }

}

@media only screen and (max-width : @CmScreen-TabletPortrait) {

    html.is-adaptive {

    }

}

@media only screen and (max-width : @CmScreen-Mobile) {

    html.is-adaptive {

    }

}

@media only screen and (max-width : @CmScreen-MobilePortrait) {

    html.is-adaptive {

    }

}